* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*GRID STYLE*/
.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
}

.third-width {
  width: 400px;
  float: left;
}

/*HEADER SECTION*/
header {
  height: 800px;
}

nav ul li {
  display: inline;
  float: right;

}

nav ul li a {
  text-decoration: none;
  padding-left: 35px;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}


header .half-width h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
  margin-top: 200px;
  margin-bottom: 75px;
}

header .half-width h1 span {
  color: coral;
}
header .half-width h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
}


/*ABOUT SECTION*/
#about img {
  width: 400px;
  margin-top: 45px;
  margin-bottom: 45px;
}

#about {
  height: 1050px;
  background: url(../img/Background.png);
  text-align: center;
}

#about .full-width p {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: white;
}

#about .full-width h3 {
  margin-bottom: 45px;
  color: white;
  font-family: 'Paytone One', sans-serif;
  
}

#about .full-width h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: white;
  margin-top: 80px;
}
/*PORTFOLIO SECTION*/
#portfolio {
  height: 850px;
}

#portfolio h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top: 100px;
  font-size: 50px;
}

#portfolio img {
  width: 350px;
  margin-top: 75px;
}

#portfolio .third-width h3 {
  font-family: 'Paytone One', sans-serif;
  margin-top: 45px;
  text-align: center;
}

#portfolio .third-width p {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  text-align: center;
  margin-top: 8px;
}

/*CONTACT SECTION*/
#contact {
  height: 650px;
  background: url(../img/Background.png);
  color: white;
}

#contact h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top: 150px;
  margin-bottom: 100px;
  font-size: 50px;
}

#contact .third-width h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Paytone One', sans-serif;
}

#contact .third-width p {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

#contact ul li {
  display: inline;
}

#contact ul li a {
  padding-left: 55px;
}

#contact .right {
  margin-top: 200px;
}